<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/teste.css">
</head>
<body>
    <div class="topo">
        <h1>meu sistema</h1>
        <p><a href="/logout">LOGOUT</a></p>

    </div>
    -------------------------------
    <div class="conteudo">
        <div class="col1">
            <p>oi1</p>
        </div>
        <div class="col2">
            <p>
                <a href="/listarfofocas">Listar as fofocas</a>
            </p>
        </div>
    </div>

</body>
</html>